@charset "UTF-8";
/* Reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input[type=button], input[type=submit], input[type=reset] { /* Добавлены стили для кнопок */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

[class*=wrapper] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
[class*=wrapper] header,
[class*=wrapper] nav,
[class*=wrapper] main,
[class*=wrapper] footer {
  max-width: 100%;
}

.header {
  background-color: #3C4052;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  height: 100%;
  height: 45px;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .nav__list .nav__item {
  margin: 0 10px;
}
.header .nav__list .nav__item .nav__link {
  color: #9FA8B5;
  text-decoration: none;
}
.header .nav__list .nav__item .nav__link:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header .language-switcher .language-switcher__btn {
  background-color: transparent;
  border: none;
  color: #9FA8B5;
  cursor: pointer;
  margin-left: 10px;
}
.header .language-switcher .language-switcher__btn:focus {
  outline: none;
}
.header .language-switcher .language-switcher__btn:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header .language-switcher .language-switcher__btn.active {
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  background-color: #3C4052;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 30px 0px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer__divider {
  width: 1px;
  background-color: #9FA8B5;
}

.footer__left,
.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__title {
  color: #F5F5F5;
  font-weight: lighter;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.footer__title-second {
  color: #F5F5F5;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footer__address,
.footer__phone,
.footer__fax,
.footer__email,
.footer__links a {
  display: block;
  margin-bottom: 20px;
  color: #9FA8B5;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__links a {
  color: #000;
  text-decoration: none;
  color: #9FA8B5;
  margin-bottom: 20px;
}

.footer__ask-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer__ask-btn {
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  text-wrap: nowrap;
  background-color: #0F9FBF;
  color: #FFFFFF;
}
.footer__ask-btn:focus {
  outline: none;
}
.footer__ask-btn:hover {
  background-color: #0b7890;
}

.welcome {
  background-color: #F5F5F5;
  margin-bottom: 60px;
}
.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px;
  gap: 60px;
}
.welcome__title {
  color: #3C4052;
  max-width: 930px;
  text-transform: uppercase;
}
.welcome__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.welcome__btn {
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  text-wrap: nowrap;
}
.welcome__btn:focus {
  outline: none;
}
.welcome__search-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  background-color: #D9D9D9;
  color: #3C4052;
}
.welcome__search-btn:hover {
  background-color: silver;
}
.welcome__ask-btn {
  background-color: #0F9FBF;
  color: #FFFFFF;
}
.welcome__ask-btn:hover {
  background-color: #0b7890;
}

.info__container {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.info__title {
  color: #0F9FBF;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.info__text {
  max-height: 195px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  position: relative;
  margin-bottom: 20px;
}
.info__text--expanded {
  max-height: 1000px;
}
.info__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.info__text--expanded::after {
  content: none;
}
.info__text ul {
  padding-left: 20px;
}
.info__text li {
  line-height: normal;
  list-style: disc outside;
  margin-left: 20px;
  margin-bottom: 10px;
}

.info__toggle-btn {
  display: block;
  color: #0F9FBF;
  text-align: center;
  text-transform: uppercase;
}

.employees__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.employees__title {
  color: #0F9FBF;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.employees__delimiter {
  height: 3px;
  width: 100%;
  background-color: #9FA8B5;
  margin-bottom: 20px;
}
.employees__delimiter-second {
  height: 3px;
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 20px;
}

.employee-card {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #3C4052;
  max-height: 320px;
}
.employee-card__department {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.employee-card__info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.employee-card__info .employee-name, .employee-card__info .employee-position, .employee-card__info .employee-contact {
  margin-bottom: 10px;
}
.employee-card__info .employee-contact span {
  font-weight: bold;
}
.employee-card__info .employee-contact p:first-child {
  margin-bottom: 10px;
  color: #9FA8B5;
}

.position {
  margin-bottom: 50px;
}
.position__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #0F9FBF;
}
.position__map {
  width: 100%;
  height: 400px; /* Высота карты */
}

.contact-form {
  width: 420px;
  background-color: inherit;
  border: 3px solid #F5F5F5;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
}
.contact-form .required {
  color: red;
}
.contact-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form__group {
  margin-bottom: 15px;
}
.contact-form__label {
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}
.contact-form__input, .contact-form__textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact-form__input:focus, .contact-form__textarea:focus {
  border-color: #0F9FBF;
  outline: none;
}
.contact-form__input::-webkit-input-placeholder, .contact-form__textarea::-webkit-input-placeholder {
  color: #9FA8B5;
}
.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  color: #9FA8B5;
}
.contact-form__input:-ms-input-placeholder, .contact-form__textarea:-ms-input-placeholder {
  color: #9FA8B5;
}
.contact-form__input::-ms-input-placeholder, .contact-form__textarea::-ms-input-placeholder {
  color: #9FA8B5;
}
.contact-form__input::placeholder, .contact-form__textarea::placeholder {
  color: #9FA8B5;
}
.contact-form__textarea {
  resize: none;
  height: 150px;
}
.contact-form__submit-button {
  background-color: #0F9FBF;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.contact-form__submit-button:hover {
  background-color: #0b7890;
}

.back {
  margin: 20px 0px;
  padding: 5px 0;
  text-align: left;
}
.back__link {
  display: inline-block;
  color: #0F9FBF;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.back__link .fas {
  margin-right: 5px;
}
.back__link:hover {
  color: #0b7890;
}

.description {
  padding: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #3C4052;
}
.description__title {
  margin-bottom: 10px;
  font-weight: bold;
}
.description__text {
  color: #666;
  font-weight: normal;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.search-dialog {
  background: transparent;
  padding: 20px;
  max-width: 800px;
  width: 80%; /* Растягивается до 80% ширины экрана, но не более 800px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-dialog button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 0 10px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; /* Полная ширина .search-dialog */
  margin-bottom: 5px;
}

#searchInput {
  font-size: 20px;
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* Инпут растягивается на всю доступную ширину */
  background: transparent;
  color: white;
  padding: 10px;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 5px;
}

.search-results {
  color: white;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  list-style: none;
}
.search-results li {
  margin-bottom: 10px;
}
.search-results li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
.search-results li a:hover {
  text-decoration: underline;
}
.search-results ul {
  padding-left: 20px;
}

.highlight {
  background-color: yellow;
  color: black;
}/*# sourceMappingURL=main.css.map */